* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.main-container {
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: .3fr 1.7fr;
  grid-template-rows:  .4fr 1.6fr;
  position: relative;
}

.left {
  grid-column: 1;
  grid-row: 1 / -1;
  background-color: #6495ED;
}

.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4%;
  margin-top: 4.5%;
}

.fish-svg {
  color: white;
  padding-left: 5%;
}

.dashboard h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
}

.left-nav {
  color: white;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-top: 3%;
}

.left-nav li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 6.5%;
  font-size: 1vw;
}

.left-nav > li > p {
  padding-left: 7.5%;
}

.settings {
  margin-top: 20%;
}

.topBar {
  grid-column: 2;
  grid-row: 1;
  box-shadow: 0 4px 6px -3px rgb(161, 161, 161);
  z-index: 1;
width: 100%
}


.main-content {
  height: 100%;
  grid-column: 2;
  display: grid;
background-color: #e1e7ef;
grid-template-rows: 5vw 95vw;
grid-template-columns: 80% 20%;
}


.topBarOne {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1%;
}

.fa-magnifying-glass {
  font-size: .9vw;
  margin-left: 8vw;
}

input {
  width: 40vw;
  border-style: none;
  background-color: #e1e7ef;
  border-radius: 5vw;
  padding-top: .3%;
  padding-bottom: .3%;
  padding-left: 1%;
  margin-left: 1.5vw;
}

.bell {
  margin-left: 15vw;
}


.imgContainer { width: 4%; 
  text-align: center; 
  position: relative; 
  padding-bottom: 4%; 
  border-radius: 50%; 
  overflow: hidden;
  margin-left: 2.5vw;
}

.img { position: absolute; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0; 
  object-fit: cover; 
}


.name {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1vw;
  font-weight: 700;
  margin-left: 2.5vw;
}

.topBarTwo {
  display: flex;
  flex-direction: row;
  height: 50%;
}

.imgContainer2 { width: 4%; 
  text-align: center; 
  position: relative; 
  padding-bottom: 1%; 
  border-radius: 50%; 
  overflow: hidden;
  margin-left: 2vw;
}

.img2 { position: absolute; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0; 
  object-fit: cover; 
}

.greeting2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding-left: 1vw;
}

.greeting2 p {
  font-size: .9vw;
  padding-bottom: 0;
  margin-bottom: 0;
}

.greeting2 h3 {
  font-size: 1.4vw;
  padding-top: 2.5%;
  margin-top: 0;
}

.topNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15%;
  padding-left: 45.5vw;
}

.topNav  li {
list-style: none;
background-color: #6495ED;
color: white;
padding-top: .5vw;
padding-bottom: .5vw;
padding-left: 1vw;
padding-right: 1vw;
border-radius: 20vw;
font-family: 'Roboto', sans-serif;
font-size: .8vw;
text-align: center;
}

.imgContainer2 { 
  width: 5%; 
  padding-bottom: 5%;
  text-align: center; 
  position: relative; 
  border-radius: 50%; 
  overflow: hidden;
  margin-left: 3vw;
  align-self: center;
}

.img2 { 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0; 
  object-fit: cover; 
}



.projects {
  font-family: 'Roboto', sans-serif;
  padding-left: 2.3%;
  font-size: 130%;
  font-weight: 700;
}

.announcements {
  font-family: 'Roboto', sans-serif;
  font-size: 130%;
  font-weight: 700;
}


.mainSixSquares {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 360px;
  gap: 3%;
  padding-left: 2%;
  padding-right: 2%;
}

.mainSixSquares > div {
  background-color: white;
  border-radius: 4%;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  box-shadow: .5px 3px 6px rgb(201, 201, 201), inset 0px 1px 3px rgb(201, 201, 201);;
}

.mainSixSquares > div::after {
  content: "";
  position: absolute;
  width: .9vw;
  height: 100%;
  background-color: #6495ED;
  opacity: .8;
}

.mainSixSquares > div > h3 {
font-size: 130%;
padding-left: 3vw;
padding-top: 1vw;
font-weight: 750;
letter-spacing: .15vw;
}

.mainSixSquares > div > p {
  font-size: 110%;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1vw;
  margin-top: 0;
  line-height: 150%;
  letter-spacing: .1vw;
  font-weight: 550;
  }

.rightSideContent {
  grid-column: 2;
  grid-row: 2;
}

.doMore-icons {
  display: flex;
  flex-direction: row;
  gap: 25%;
  position: absolute;
  bottom: 20px;
  right: 50px;
}

.doMore-icons > i {
  position: relative;
  align-self: center;
  font-size: 130%;
}

.rightTopHalf {
  background-color: white;
  margin-right: 5%;
 border-radius: 3%;
 padding-top: 3%;
 padding-bottom: 3%;
 box-shadow: .5px 3px 6px rgb(201, 201, 201), inset 0px 1px 2px rgb(201, 201, 201);
}

.maintenance, .community {
border-bottom: .1vw solid rgb(184, 184, 184);
margin-left: 10%;
margin-right: 10%;
}

.update {
  margin-left: 10%;
margin-right: 10%;
}


.maintenance >  h3, .community > h3, .update > h3  {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}



.update > p, .maintenance >  p, .community > p {
  font-size: 85%;
  font-family: 'Roboto', sans-serif;
  padding-right: 2%;
  padding-bottom: 5%;
}

.rightLowerHalf {
  background-color: white;
 margin-right: 5%;
 border-radius: 3%;
 position: relative;
 display: flex;
 flex-direction: column;
 padding-bottom: 5%;
 padding-top: 5%;
 gap: 13px;
 box-shadow: .5px 3px 6px rgb(201, 201, 201), inset 0px 1px 2px rgb(201, 201, 201);;
}


.imgContainer3 { 
  width: 20%; 
  padding-bottom: 20%;
  text-align: center; 
  position: relative; 
  border-radius: 50%; 
  overflow: hidden;
  margin-left: 3vw;
  align-self: center;
}

.img3 { 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0; 
  object-fit: cover; 
}

.people {
  position: relative;
  display: flex;
  flex-direction: row;
 margin-left: -10%;
}

.status {
  margin-left: 5%;
}

.status > h4 {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin-bottom: 0%;
}

.status > p {
  font-size: 95%;
  font-family: 'Roboto', sans-serif;
  margin-top: 5%;
}